@page
@model Mission9Project.Pages.ConfirmationModel
@{
}

<div class="text-center">
    <h2> Your purchase is completed!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>